<form #myform="ngForm" (ngSubmit)="enviar()">
    <div class="horizontal-form">
        <div class="form-group">
            <!--Etiqueta / Campo "Mombre"-->
            <label class="label-form" for="firstname">Nombre</label>
            <input class="form-control" type="text" id="firstname" name="firstname" #firstnameState="ngModel" [(ngModel)]="user.firstname"
                required maxlength="5">
        </div>
    </div>

    <div class="error" *ngIf="firstnameState.invalid && firstnameState.dirty">
        <p>Este campo es requerido</p>
        {{firstnameState.errors|json}}

    </div>
    <p>
        <!--Etiqueta / Campo "Apellidos"-->
        <label for="lastname">Apellidos</label>
        <input type="text" id="lastname" name="lastname" [(ngModel)]="user.lastname" required>
    </p>

    <p>
        <!--Etiqueta / Campo "Telefono"-->
        <label for="phoneNumber">Teléfono</label>
        <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber" pattern="\d{9}$">
    </p>

    <!--Botones "Enviar" y "Borrar"-->
    <p>
        <label for=""></label>
        <input type="submit" id="enviar" name="enviar" value="Enviar" [disabled]="!myform.valid">
        <label for=""></label>
        <input type="button" id="borrar" name="borrar" value="Borrar" (click)="borrar()" [disabled]="myform.pristine">
    </p>

    <h2>Selecciona una Impresora</h2>
    <div *ngFor="let impresora of impresoras">
        <input type="radio" name="printer" [(ngModel)]="impresoraSeleccionada" [value]="impresora">
        <label>{{impresora}}</label>
    </div>
    <!--Checkbox-->
    <h2>Seleción de opciones</h2>
    <p>
        <input id="print" type="checkbox" [(ngModel)]="isColor" [disabled]="!impresoraSeleccionada" name="iscolor">
        <label for="print">En color</label>
        <br>

        <input id="tono" type="checkbox" [(ngModel)]="isClaro" name="isclaro" [disabled]="!impresoraSeleccionada">
        <label for="tono">Tono claro</label>
    </p>
    <p>
        <label for="select">Departamento </label>
        <select id="select" [(ngModel)]="departamentoSeleccionado" name="departamento">
            <option *ngFor="let departamento of departamentos" [ngValue]="departamento">
                {{departamento.nombre}}
            </option>
        </select>
    </p>

</form>
<div>
    <pre>{{user|json}}</pre>
</div>
<div>{{impresoraSeleccionada}}</div>